@model Transport.Models.ManageUserViewModel

@{
    ViewData["Title"] = "Manage User";
}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success w-50">@TempData["Success"]</div>
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger w-50">@TempData["Error"]</div>
}

<h2 class="text-white">Manage @Model.Role Data</h2>

<form method="post" asp-action="ManageUser" asp-controller="Admin">
 
    @Html.AntiForgeryToken()

    <input type="hidden" asp-for="Email" />
    <input type="hidden" asp-for="Role" />

    @if (Model.Role == "Driver")
    {
        <h3 class="text-white">Driver Info</h3>
        <label class="text-white">Name</label>
        <input asp-for="Driver.Name" class="form-control" />

        <label class="text-white">Phone</label>
        <input asp-for="Driver.Phone" class="form-control" />

        <label class="text-white">Address</label>
        <input asp-for="Driver.Areas" class="form-control" />

        <h4 class="text-white">Car Info</h4>
        <label class="text-white">Model</label>
        <input asp-for="Car.Model" class="form-control" />

        <label class="text-white">Plate</label>
        <input asp-for="Car.Plate" class="form-control" />

        <label class="text-white">Passengers Total</label>
        <input asp-for="Car.PassengersTotal" class="form-control" type="number" />
    }
    else if (Model.Role == "Student")
    {
        <h3 class="text-white">Student Info</h3>
        <label class="text-white">Name</label>
        <input asp-for="Student.Name" class="form-control" />

        <label class="text-white">Phone</label>
        <input asp-for="Student.Phone" class="form-control" />

        <label class="text-white">Address</label>
        <input asp-for="Student.Address" class="form-control" />

        <label class="text-white">University</label>
        <input asp-for="Student.University" class="form-control" />

        <label class="text-white">College</label>
        <input asp-for="Student.College" class="form-control" />

        <label class="text-white">Department</label>
        <input asp-for="Student.Department" class="form-control" />

        <label class="text-white">Stage</label>
        <input asp-for="Student.Stage" class="form-control" />
    }
    else if (Model.Role == "Parent")
    {
        <h3 class="text-white">Parent Info</h3>
        <label class="text-white">Name</label>
        <input asp-for="Parent.Name" class="form-control" />

        <label class="text-white">Phone</label>
        <input asp-for="Parent.Phone" class="form-control" />
    }
    else
    {
        <p class="text-white">No data available for this role.</p>
    }

    <br />
    <button type="submit" class="btn btn-primary mb-3">Save Changes</button>
</form>
<a href="/Admin/Index" class="btn btn-danger">Back</a>